@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #09090b;
}

::-webkit-scrollbar-thumb {
  background: #7e22ce;
  border-radius: 10px;
}